@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-11rem); }
  40% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(11rem); }
  40% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes logoFlipping {
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

@keyframes buttonOnHover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-3px); } }

@keyframes buttonNotHover {
  0% {
    transform: translateY(-3px); }
  100% {
    transform: translateY(0px); } }

@keyframes buttonActive {
  0% {
    transform: translateY(-3px); }
  5% {
    transform: translateY(-1.8px); }
  100% {
    transform: translateY(0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(15rem); }
  99% {
    pointer-events: none; }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0rem); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 62.5% de 16px
  (padrão do browser) = 10px */ }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5.8rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.6s;
    animation-timing-function: ease; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveInRight;
    animation-duration: 1.6s;
    animation-timing-function: ease; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .25rem;
  display: inline-block;
  transition: all .3s;
  background-image: linear-gradient(to right, #68b959, #24a077);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skew(10deg, 3deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.17);
    cursor: default; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.7; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-text-center {
  text-align: center; }

.u-negative-mt-12 {
  margin-top: -8rem; }

.u-mb-sm {
  margin-bottom: 1.5rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-bg {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.4rem 4rem;
  border-radius: 10rem;
  position: relative;
  z-index: 1;
  transition: all 0.3s; }
  .btn:link:active, .btn:visited:active {
    box-shadow: 0rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    animation: buttonActive 0.16s forwards; }

.btn--animated {
  animation: moveInBottom 0.8s ease-out 0.75s 1 backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .6s;
  border-radius: 10rem; }

.btn:hover {
  animation: buttonOnHover 0.2s 0ms forwards;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.25) scaleY(1.34);
    opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  transition: all .3s;
  padding: .5rem;
  border-bottom: 1px solid #55c57a; }

.btn-text:hover {
  transform: translateY(-3px);
  border-radius: 2px;
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(-1px);
  border-radius: 2px;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    border-radius: 3px;
    outline-offset: 1rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4); }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      .composition__photo--p1:hover {
        rotate: -5deg; }
        .composition__photo--p1:hover:hover {
          outline: 0.6rem solid #55c57a;
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          z-index: 2;
          transform: scale(1.15); }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      .composition__photo--p2:hover {
        rotate: 5deg; }
        .composition__photo--p2:hover:hover {
          outline: 0.6rem solid #55c57a;
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          z-index: 2;
          transform: scale(1.15); }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      .composition__photo--p3:hover:hover {
        outline: 0.6rem solid #55c57a;
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        z-index: 2;
        transform: scale(1.15); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.94); }

.feature-box {
  padding: 6rem .3px;
  border-radius: .4rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all .34s; }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    font-size: 1.5rem; }
  .feature-box > h3 {
    text-transform: uppercase; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-2rem); }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    border-radius: .3rem;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    transition: all .8s ease; }
    .card__side--front {
      font-size: 4rem;
      background-color: #fff;
      transform-origin: -100; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #68b959, #24a077); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 4rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 4rem * 2) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 4rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 4rem * 3) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 4rem * 3) / 4) + 4rem * 2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__logo--animated {
    animation: moveInBottom 1s 0.8s 1 backwards; }
  .header__logo:hover {
    animation: logoFlipping 1.7s 1 forwards; }

.section-about {
  background-color: #ececec;
  padding-top: 25rem;
  padding-bottom: 17rem;
  margin-top: -20vh; }

.features-section {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%); }

.tours-section {
  margin-top: -11.2rem;
  padding: 25rem 0; }
