@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin defaultCompStyle {
    &:hover {
        outline: .6rem solid $color-primary;
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        border-radius: 5px;
        z-index: 2;

        transform: scale(1.15);
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}