// COLORS
$color-primary: #55c57a;
$color-primary-light: #68b959;
$color-primary-dark: #24a077;

$color-gray-light-1: #ececec;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONTS
$default-size: 1.6rem;

// LAYOUTS
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;