// COLORS
$color-primary: #55c57a;
$color-primary-light: #68b959;
$color-primary-dark: #24a077;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #ececec;;
$color-grey-light-2: rgb(223, 223, 223);

$color-gray-dark: #777;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-black: #000;

$color-heading-tertiary: rgba($color-black, .7);

// FONTS
$default-size: 1.6rem;

// LAYOUTS
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;