.card {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    position: relative;
    height: 52rem;
    cursor: default;
    
    &__side {
        height: 52rem;
        font-size: 4rem;
        overflow: hidden;
        border-radius: .3rem;
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .9s ease;
        
        box-shadow: 0 1.5rem 4rem rgba($color-black, .25);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);  
            
            &-1 {
            background-image: linear-gradient(to bottom right,
            $color-secondary-light,
            $color-secondary-dark
            );}

            &-2 {
            background-image: linear-gradient(to bottom right,
            $color-primary-light,
            $color-primary-dark
            );}

            &-3 {
            background-image: linear-gradient(to bottom right,
            $color-tertiary-light,
            $color-tertiary-dark
            );}
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__picture {
        height: 23rem;
        background-blend-mode: overlay;
        background-size: cover;

        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-black, 0.65),
            $color-secondary-dark),
            url(../img/nat-5.jpg)
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-black, 0.25),
            $color-primary-dark),
            url(../img/nat-6.jpg)
        };

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-black, 0.45),
            $color-tertiary-dark),
            url(../img/nat-7.jpg)
        };

    }

    &__heading {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 300;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        
        
        &-span {
            padding: 1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;

            &--1 {
                background-image: linear-gradient(to right bottom,
                rgba($color-secondary-light, .9),
                rgba($color-secondary-dark, .9)
                );
            }

            &--2 {
                background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, .9),
                rgba($color-primary-dark, .9)
                );
            }

            &--3 {
                background-image: linear-gradient(to right bottom,
                rgba($color-tertiary-light, .9),
                rgba($color-tertiary-dark, .9)
                );
            }
        }
    }

    &__details {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 2rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            li {
                padding: 2px;
                width: 60%;
                border-bottom: 1px solid $color-grey-light-2;

                &:not(:last-child) {
                    margin-bottom: 2.2rem;
                }

            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__price {
        width: 90%;

        &-box {
            cursor: default;
            color: white;
        } 

        &-only {
            font-size: 1.3rem;
            text-align: center;
            text-transform: uppercase;
        }

        &-value {
            font-size: 7rem;
            font-weight: 100;
            text-align: center;
            margin-bottom: 6rem;
        }
    }

    &__button {
        text-align: center;
        width: 20rem;
    }

}