.composition {
    position: relative;

    &__photo {
        width: 55%;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        border-radius: 3px;
        outline-offset: 1rem;
        box-shadow: 0 2rem 2rem rgba($color-black, 0.4);

        
        &--p1 {
            left: 0;
            top: -2rem;

            &:hover {
                @include defaultCompStyle;
                rotate: -5deg;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            &:hover {
                @include defaultCompStyle;
                rotate: 5deg;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            &:hover {
                @include defaultCompStyle;
            }
        }
    }

        &:hover &__photo:not(:hover) {
            transform: scale(.94);
        }
}