.form {
    
    &__input {
        transition: all .2s;
        font-size: 1.5rem;
        font-family: inherit;
        width: 90%;
        display: block;
        color: inherit;
        
        border: none;
        border-bottom: 3.5px solid transparent;
        border-radius: 2px;
        padding: 1.5rem 2rem;
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        
        &:focus {
            outline: none;
            border-bottom: 3.5px solid $color-primary-dark;

            box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
        }

        &:focus:invalid {
            border-bottom: 3.5px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark;
        }
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        transform: translate(2rem, -1rem);
        
        transition: all .5s;
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        
        transform: translate(2rem, -5.7rem);
    }
}