@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-11rem);
    }
  
    40% {
      transform: translateX(2rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(11rem);
    }
  
    40% {
      transform: translateX(-2rem);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes logoFlipping {
    0% {
      opacity: 0;
      transform: rotate(0deg);
    }
  
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  
  @keyframes buttonOnHover {
    0% {
      transform: translateY(initial);
    }
  
    100% {
      transform: translateY(-3px);
    }
  }
  
  @keyframes buttonNotHover {
    0% {
      transform: translateY(-3px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes buttonActive {
    0% {
      transform: translateY(-3px);
    }
  
    5% {
      transform: translateY(-1.8px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      pointer-events: none;
      transform: translateY(15rem);
    }
  
    99% {
      pointer-events: none;
    }
  
    100% {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0rem);
    }
  }