.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.features-section {
    padding: 20rem 0;
    background-image: linear-gradient(
        to bottom right,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);

    margin-top: -8rem;

    & > * {
        transform: skewY(7deg);
    }
}

.tours-section {
    margin-top: -14.2rem;
    padding: 25rem 0 10rem 0;
}

.story-section {
    padding: 15rem 0;
    background-color: $color-gray-light-1;
}