.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond-(tab-port) {
        padding: 20rem 0;
    }
}

.features-section {
    padding: 20rem 0;
    background-image: linear-gradient(
        to bottom right,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);

    margin-top: -8rem;

    & > * {
        transform: skewY(7deg);
    }

    @include respond-(tab-port) {
        padding: 15rem 0;
    }
}

.tours-section {
    margin-top: -14.2rem;
    padding: 25rem 0 10rem 0;

    @include respond-(tab-port) {
        padding: 20rem 0 5rem 0;
    }
}

.story-section {
    position: relative;
    padding: 13rem 0;

    @include respond-(tab-port) {
        padding: 8rem 0;
    }
}

.book-section {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
    $color-primary-light,
    $color-primary-dark);

    @include respond-(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, .45);

    background-size: 100%;
    background-image: linear-gradient(105deg, rgba($color-white, .9) 50%, 
    transparent 50%,
    ),
    url(../img/nat-10.jpg);

    @include respond-(form-break) {
        background-image: linear-gradient(to right, rgba($color-white, .9) 70%, 
        transparent 70%
        ),
        url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond-(tab-port) {
        text-align: center;
        background-image: none;
        background-color: $color-white;
    }

    &__form {
        text-align: center;
        width: 50%;
        padding: 6rem; 

        @include respond-(form-break) {
            width: 70%;
        }

        @include respond-(tab-port) {
            width: 100%;
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark;
        }
    }
}